header.header
    .header__wrap
        menu.header__menu
            .header__menu-wrap
                .header__menu-left
                    .header__logo
                        a.header__logo-link(href="#")
                    nav.header__nav
                        ul.header__nav-ul
                            li.header__nav-li
                                a.header__nav-link.header__link-fonts(href="#")|explore
                            li.header__nav-li
                                a.header__nav-link.header__link-fonts(href="#")|event
                            li.header__nav-li
                                a.header__nav-link.header__link-fonts(href="#")|acievements
                            li.header__nav-li
                                a.header__nav-link.header__link-fonts(href="#")|top ten
                .header__menu-right
                    .header__social
                        ul.header__social-ul
                            li.header__social-li
                                a.header__social-link.header__link-fonts(href="#")|signin
                            li.header__social-li
                                a.header__social-link.header__link-fonts(href="#")|signup
                            li.header__social-li
                                a.header__social-link(href="#")
                                    i(class="fab fa-facebook-f")
                            li.header__social-li
                                a.header__social-link(href="#")
                                    i(class="fab fa-twitter")
                            li.header__social-li
                                a.header__social-link(href="#")
                                    i(class="fab fa-google-plus-g")
        .header__title
            .header__title-wrap
                p.header__title__title-text|climber commiunity
                p.header__title__subtitle-text|Chalenge your self, climb it!
                a.header__title__link.header__title__link-text(href="#")|go
        .header__bottom
            .header__bottom-wrap
                .header__bottom-piple
                    ul.header__bottom-ul
                        li.header__bottom-li
                            a.header__bottom-link.people__1(href="#")
                        li.header__bottom-li
                            a.header__bottom-link.people__2(href="#")
                        li.header__bottom-li
                            a.header__bottom-link.people__3(href="#")
                        li.header__bottom-li
                            a.header__bottom-link.people__4(href="#")
                .header__bottom-make
                    p.header__bottom-text.header__bottom-text-icon|Make a challengs