// !!!   HEADER FONTS   !!! //

.header{

    &__nav-link{
        font-size: 1.5vh;
        text-transform: uppercase;
        color: #fff;
        // transform: rotate(-90deg);

        &:hover{
            color: #f02009;
        }

    }

}

.fa-bars{
    font-size: 2.5vh;
}

// !!! HEROES FONTS !!! //

.heroes__title-text-iron, .heroes__title-text-spider, .heroes__title-text-captain{
    font-size: 16vh;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1.3vw;
}

.red{
    color: red;
    text-align: right;
}

.white{
    color: white;
}