html{
    font-size: 10px;
}

@media (min-width: 3600px) {
    html{
        font-size: 30px;
    }
}

@media (min-width: 2100px) {
    html{
        font-size: 17px;
    }
}

@media (max-width: 1700) {
    html{
        font-size: 13rem;
    }
}

@media (max-width: 1600px) {
    html{
        font-size: 10px;
    }
}

@media (max-width: 1240px) {
    html{
        font-size: 8px;
    }
}

@media (max-width: 1020px) {
    html{
        font-size: 7px;
    }
}

*{
    box-sizing: border-box;
    margin: 0 auto;
}

.body{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    max-width: 100%;
    min-width: 16rem;
    margin: 0 auto;
}

a, ul, li{
    text-decoration: none;
    list-style: none;
}