section.choice
    .choice__wrap
        .choice__status-bar
        .choice__center
            .choice__icon
            p.choice__title-text|Begin your next climb by chosing a summit
            p.choice__title-text-mobile|Find a summit and Begin your next climb
            .choice__fitters
                p.choice__fitters-text|you can use
                .choice__fitters-ddm
                    button.choice__fitters-btn|fiters
                        i(class="fas fa-sort-down")
                    .choice__fitters-ddm-list
                p.choice__fitters-text|to have more percise search
        button.choice__fitters-sart-btn|start
